// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // hero // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#hero {   

    .botones{  
        background-color: #d166a6;
        border-radius: 30px; 
        box-shadow: 0px 5px 7px rgba(243, 4, 24, 0.2);    
        font-weight: 700 !important;         
        padding-block: 17px;
        padding-inline: 8px;
      } 
      #btn-blanco{
        background-color: #fff;
        --clr-text-btn: #d166a6;
      }   
    .imagenCentral{
        width: 100%;
        height: 80%;
        margin-left: 20%;
        margin-top: 6%;
    }    
    #margenHome{    
       margin-top: 6%;       
    
       @media (max-width: 960px) {    
        margin-top: 13%;  
      }  
      @media (max-width: 580px) {    
        margin-top: 16%;  
      }  
      @media (max-width: 480px) {    
        margin-top: 20%;  
      }  
      @media (max-width: 400px) {    
        margin-top: 24%;  
      }  
    }
    .paddingTexto{
        padding-left: 9%; 
        padding-top: 6%;
        @media (max-width: 1200px) {  
            padding-left: 12%; 
            .h6_em{
                font-size: 40px !important;
                }
            .h2_em{
                font-size: 40px !important;
        }            
    }
        @media (max-width: 960px) {  
            padding-left: 12%; 
            .h6_em{
                font-size: 30px !important;
                }
            .h2_em{
                font-size: 30px !important;
        }
    }
        @media (max-width: 600px) {
        .h6_em{
        font-size: 20px !important;
        }
        .h2_em{
            font-size: 20px !important;
            
            }    
         
    }    
    }
    .libro1{   
        position: absolute; 
        margin-left: 22%;
        margin-top: -65px;        
        img{
            height: 100%;
            width: 85%;
            @media (min-width: 1904px) { 
                height: 90%;
                width: 190%; 
            }   
        }
    }
    .libro2{
        width: 100%;
        height: 13%; 
        margin-top: -250%;
        margin-left: 180%;
        @media (min-width: 1904px) { 
            height: 15%;
            width: 100%; 
            margin-left: 120%;
        } 
    }
    .libro3{
        width: 100%;
        height: 65%;
        margin-left: -170%;
        margin-top: 60px;
        @media (min-width: 1904px) { 
            margin-left: -190%;
        } 
    }
    
    .imagenGato{
        position: relative;
        width: 260%;
        height: 100%;
        top: 60px;
        left: -77px;        
    }
    .movilGato{
        width: 100%; 
        min-width: 150px;      
       
    }
    .libro4{
        position: absolute;
        width: 10%; 
        max-width: 120px;       
        right: 320px;
        top: 480px;
     @media(max-width: 1300px){
        top: 460px;
     }  
     @media(max-width: 1250px){
        top: 430px;
        right: 300px;
     } 
     @media(max-width: 1180px){
        top: 410px; 
        right: 280px;       
     } 
     @media(max-width: 1130px){
        top: 390px; 
        right: 260px;       
     } 
     @media(max-width: 1080px){
        top: 370px; 
        right: 250px;       
     } 
     @media(max-width: 1020px){
        top: 350px; 
        right: 240px;       
     } 
             
    }
    .contentCenter{          
        position: relative;     
        background-color: white;
        border-radius: 90px;
        box-shadow: 3px 3px 7px #e7add0 !important;
        display: flex; 
        gap:2em; 
        padding: 30px 60px;
        font-weight: 500;
        @media (max-width: 1123px) { 
            border-radius: 120px;
            padding: 20px 50px;  
        }
    }
    .clr-rosado{
     color: #d166a6 !important;
    }
    .content{          
        position: relative;     
        background-color: white;
        border-radius: 10px;
        box-shadow: 3px 3px 7px #e7add0 !important;    
             
    }
    .avatar1{
        margin-left: 60%;
    }
    .margenBottom{
        @media (min-width: 1904px) { 
            .v-btn{
                padding: 40px !important;
                border-radius: 50px;
            }
            }
        @media (max-width: 1150px) { 
        margin-bottom: 30px;
        }
    }
    .prueba {
        background: orange;
        border-radius: 40px 40px 0 0;
        bottom: 0;
        display: inline-block;
        height: 70%;
        left: 0;
        position: absolute;
        width: 80px;
    }
    .reducirText{
        @media (max-width: 600px) { 
            font-size: 15px !important;
        } 
        @media (max-width: 465px) {
            font-size: 12px !important;
            .v-btn{
                padding: 3px 10px !important;
            }
            }
            @media (max-width: 390px) {
                font-size: 10px !important;
                 .v-btn{
                        padding: 5px 8px !important;                
                    }
                }
        } 
        .favoritosmobile{      
        background-color: white;
        border-radius: 200px;
        box-shadow: 3px 3px 8px #e7add0 !important;        
        font-weight: 500;     
        @media (max-width: 960px) {
            height: 640px; 
            width: 300px;
        div .col{
            .h9{   
            font-size: 25px !important;
        } 
        }
         }
         @media (max-width: 600px) {
            div .col{
                .h9{   
                font-size: 20px !important;
                }
            }
         }
         @media (max-width: 600px) {
            height: 640px; 
            width: 210px;     
         }
            
        }
        .libro1mobile{ 
            @media (max-width: 960px) {
                margin-top: -55%;         
                z-index: 1;          
                img{
                    height: 100%;
                    width: 190%;            
                } 
            }       
            @media (max-width: 600px) {
            margin-top: -85%;         
            z-index: 1;          
            img{
                height: 100%;
                width: 130%;            
            }
        }
        @media (max-width: 400px) {
            margin-top: -140%;         
            z-index: 1;          
            img{
                height: 100%;
                width: 160%;            
            }
        }
        }
        .libro2mobile{ 
            @media (max-width: 960px) {
                margin-top: -25%; 
                margin-left: -5%;         
                z-index: 1;          
                img{
                    height: 100%;
                    width: 190%;            
                } 
            }
            @media (max-width: 600px) {
                margin-top: -50%; 
                margin-left: -3%;          
            z-index: 1;          
            img{
                height: 100%;
                width: 130%;            
            }
        }   
        @media (max-width: 400px) {
            margin-top: -80%; 
            margin-left: -5%;          
        z-index: 1;          
        img{
            height: 100%;
            width: 160%;            
        }
    }       
        }
        .libro3mobile{ 
            @media (max-width: 960px) {
                margin-top: -8%; 
            margin-left: 35%;         
                z-index: 1;          
                img{
                    height: 100%;
                    width: 190%;            
                } 
            }
            @media (max-width: 600px) {
                margin-top: -8%; 
            margin-left: 30%;          
            z-index: 1;          
            img{
                height: 100%;
                width: 130%;            
            }
        }    
        @media (max-width: 400px) {
            margin-top: -15%; 
        margin-left: 18%;          
        z-index: 1;          
        img{
            height: 100%;
            width: 160%;            
        }
         }             
          }
        .libro1section2{
            margin-left: 10%;
            margin-top: -1%;
            img{
                height: 50%;
                width: 14%; 
                @media (min-width: 2100px) {  
                    height: 40%;
                    width: 10%;       
                }            
            }
        }
        .libro2section2{
            margin-left: -8%;
            // margin-top: -3%;
            img{
                height: 50%;
                width: 14%;
                @media (min-width: 2100px) {  
                    height: 40%;
                    width: 10%;       
                }             
            }
        }
        .ajusteTop{
            margin-top: -6%;        
        }
        .cambiarTamH6{
            .h6_em{
                @media (max-width: 1200px) {
                font-size: 40px !important;
                }
                @media(max-width:960px){
                font-size: 30px !important;
                }
            @media (max-width: 600px) {          
            font-size: 20px !important;
            } 
        }            
    }
    .bottomAvatar{
        z-index: 1;
        margin-bottom: -25px;
        border: 2px solid white;
        box-shadow: 2px 3px 5px #e7add0 !important; 
        img{
            width: 150%;
        }            
    }
    #parrafoAvatar{
     font-weight: 500;
     line-height: 12px !important;
    } 
    
    // seccion 3
    .div1-fondo{
        background-color: #d166a6 !important;
        width: 30%;
        height: 120px;
        border-radius: 60px;
        margin-top: -17%; 
        @media (min-width: 1800px) {
            width: 25%; 
          }  
          @media (min-width: 2000px) {        
            margin-top: -16%;
          } 
          @media (min-width: 2176px) {        
            width: 20%; 
          }
    }
    .div2-fondo{
        background-color: #d166a6 !important;
        width: 18%;
        height: 350px;
        border-radius: 60px;
    
        @media (max-width: 1280px) {
            height: 300px;  
            width: 20%;   
          } 
          @media (max-width: 1100px) {
            height: 300px;  
            width: 22%;   
          }
        @media (min-width: 1500px) {
            height: 330px;      
          } 
          @media (min-width: 1556px) {
            height: 320px; 
            width: 16%;
            margin-top: -8%;     
          }
          @media (min-width: 1800px) {
            width: 14%;   
          } 
          @media (min-width: 2000px) {
            height: 350px; 
            margin-top: -2%;
          }
          @media (min-width: 2320px) { 
            width: 12%;   
          }
    }
    .div3-fondo{
        background-color: #d166a6 !important;
        width: 30%;
        height: 120px;
        border-radius: 60px;
        margin-top: 17%;
        @media (min-width: 1500px) {
          margin-top: 12%;          
        }
        @media (min-width: 1556px) {
            margin-top: 6%;          
          }
          @media (min-width: 1800px) {
            width: 25%; 
          } 
          @media (min-width: 2000px) {        
            margin-top: 12%;
        }
        @media (min-width: 2176px) {        
            width: 20%; 
          }
         
    }
    .div1{
        margin-top: -70%;
        z-index: 2;    
        background-color: #fff !important;
        width: 16%;
        height: 300px;
        border-radius: 50px;
        box-shadow: 2px 3px 5px #d166a6 !important; 
    
        @media (max-width: 1280px) {
            width: 18%;
    }
    @media (max-width: 1100px) {     
        width: 20%;   
      }
        @media (min-width: 1800px) {
            width: 13%;        
        } 
        @media (min-width: 2176px) {
            width: 12%;
            height: 300px;
        }  
        @media (min-width: 2320px) {
            width: 10%;
            height: 300px;
        } 
        p{
         font-size: 13px !important; 
         padding-top: 5px;
         padding-left: 29px;
         padding-right: 15px;
         padding-bottom: 10;   
        }      
    }
    .div2{
        margin-top: -57%;
        margin-left: -1%;
        z-index: 1;  
        background-color: #6968AC !important;
        width: 16%;
        height: 300px;
        border-radius: 50px;
        box-shadow: 2px 3px 5px #d166a6 !important;
    
        @media (max-width: 1280px) {
            width: 18%;
    }
    @media (max-width: 1100px) {     
        width: 20%;   
      }
        @media (min-width: 1800px) {
            width: 13%;        
        } 
        @media (min-width: 2176px) {
            width: 12%;
            height: 300px;
        }  
        @media (min-width: 2320px) {
            width: 10%;
            height: 300px;
        } 
        p{
            color: #fff !important;
            font-size: 13px !important; 
            padding-top: 5px;
            padding-left: 29px;
            padding-right: 15px;
            padding-bottom: 10;   
           }    
    }
    .div3{
        margin-top: -44%;
        margin-left: -1%;
        z-index: 2;  
        background-color: #fff !important;
        width: 16%;
        height: 300px;
        border-radius: 50px; 
        box-shadow: 2px 3px 5px #d166a6 !important;
        
        @media (max-width: 1280px) {
            width: 18%;
    }
    @media (max-width: 1100px) {     
        width: 20%;   
      }
        @media (min-width: 1800px) {
            width: 13%;        
        } 
        @media (min-width: 2176px) {
            width: 12%;
            height: 300px;
        } 
        @media (min-width: 2320px) {
            width: 10%;
            height: 300px;
        } 
        p{
            font-size: 13px !important; 
            padding-top: 5px;
            padding-left: 29px;
            padding-right: 15px;
            padding-bottom: 10;   
           }    
    }
    .div4{
        margin-top: -31%;
        margin-left: -1%;
        z-index: 1;  
        background-color: #6968AC !important;
        width: 16%;
        height: 300px;
        border-radius: 50px; 
        box-shadow: 2px 3px 5px #d166a6 !important;
    
        @media (max-width: 1280px) {
            width: 18%;
    }
    @media (max-width: 1100px) {     
        width: 20%;   
      }
        @media (min-width: 1800px) {
            width: 13%;        
        } 
        @media (min-width: 2176px) {
            width: 12%;
            height: 300px;
        } 
        @media (min-width: 2320px) {
            width: 10%;
            height: 300px;
        } 
        p{
            color: #fff !important;
            font-size: 13px !important; 
            padding-top: 5px;
            padding-left: 29px;
            padding-right: 15px;
            padding-bottom: 10;   
           }  
    }
    .divPequeño1{
    background-color: #6968AC !important;
    height: 80px;
    width: 60px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 1px 3px #d166a6 !important;
    margin-top: 40px;
    margin-left: -40px;
    
    @media (max-width: 1280px) {
        margin-left: -8px;
        }
    @media (max-width: 960px) {    
        border-radius: 15px;
        margin-left: -12%; 
    }
    @media (max-width: 810px) {    
        border-radius: 15px;
        margin-left: 2%; 
    }
    @media (max-width: 650px) {
        width: 40px;
        height: 60px;
        margin-left: 4%;
        border-radius: 10px; 
    } 
    @media (max-width: 606px) {
        width: 50px;
        height: 60px;
        margin-left: 10%;
        border-radius: 10px; 
    } 
    @media (max-width: 445px) {
        width: 45px;
        height: 55px;
        border-radius: 10px;
        margin-left: 15px; 
    }
    @media (max-width: 357px) {
        width: 38px;
        height: 45px;
    }
    }
    .divPequeño2{
    background-color: #fff !important; 
    height: 80px;
    width: 60px;
    border-radius: 20px;
    color: #6968AC;
    font-weight: bold;
    box-shadow: 1px 1px 3px #d166a6 !important;
    margin-top: 40px;
    margin-left: -40px;
    
    @media (max-width: 1280px) {
    margin-left: -8px;
    }
    @media (max-width: 960px) {    
        border-radius: 15px;
        margin-left: -12%; 
    }
    @media (max-width: 810px) {    
        border-radius: 15px;
        margin-left: 2%; 
    }
    @media (max-width: 650px) {
        width: 40px;
        height: 60px;
        margin-left: 4%;
        border-radius: 10px; 
    }
    @media (max-width: 606px) {
        width: 50px;
        height: 60px;
        margin-left: 10%;
        border-radius: 10px; 
    }
    @media (max-width: 445px) {
        width: 45px;
        height: 55px;
        border-radius: 10px;
        margin-left: 15px; 
    }
    @media (max-width: 391px) {
        margin-left: 18px; 
    }
    @media (max-width: 357px) {
        width: 38px;
        height: 45px;
    }
    }
    .divPequeño3{
    background-color: #6968AC !important; 
    height: 80px;
    width: 60px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 1px 3px #d166a6 !important;
    margin-top: 40px;
    margin-left: -40px;
    
    @media (max-width: 1280px) {
        margin-left: -8px;
        }
    @media (max-width: 960px) {    
        border-radius: 15px;
        margin-left: -12%; 
    } 
    @media (max-width: 810px) {    
        border-radius: 15px;
        margin-left: 2%; 
    }
    @media (max-width: 650px) {
        width: 40px;
        height: 60px;
        margin-left: 4%;
        border-radius: 10px; 
    }
    @media (max-width: 606px) {
        width: 50px;
        height: 60px;
        margin-left: 10%;
        border-radius: 10px; 
    }
    @media (max-width: 445px) {
        width: 45px;
        height: 55px;
        border-radius: 10px;
        margin-left: 15px; 
    }
    @media (max-width: 357px) {
        width: 38px;
        height: 45px;
    }
    }
    .divPequeño4{
    background-color: #fff !important;  
    height: 80px;
    width: 60px;
    border-radius: 20px;
    color: #6968AC;
    font-weight: bold;
    box-shadow: 1px 1px 3px #d166a6 !important;
    margin-top: 40px;
    margin-left: -40px;
    
    @media (max-width: 1280px) {
        margin-left: -8px;
        }
    @media (max-width: 960px) {    
        border-radius: 15px;
        margin-left: -12%; 
    }
    @media (max-width: 810px) {    
        border-radius: 15px;
        margin-left: 2%; 
    }
    @media (max-width: 650px) {
        width: 40px;
        height: 60px;
        margin-left: 4%;
        border-radius: 10px; 
    }
    @media (max-width: 606px) {
        width: 50px;
        height: 60px;
        margin-left: 10%;
        border-radius: 10px; 
    }
    @media (max-width: 445px) {
        width: 45px;
        height: 55px;
        border-radius: 10px;
        margin-left: 15px; 
    }
    @media (max-width: 391px) {
        margin-left: 18px; 
    }
    @media (max-width: 357px) {
        width: 38px;
        height: 45px;
    }
    }
    .libro3section3{
        margin-top: -12%;
        margin-left: 15%;
        img{
            height: 50%;
            width: 14%;   
    
            @media (min-width: 2100px) {  
            height: 40%;
            width: 10%;       
        } 
    }
    }
    .subtitle{
        
    } 
    .beneficios{
        line-height: 15px;
        
        @media(max-width: 780px){
            font-weight:600;
            // line-height: 10px;
            .h10{
                font-size: 10px;
            }
            .h11_em{
                font-weight:300;
                font-size: 10px !important;
            }
        }
        @media(max-width: 364px){
            .h11_em{
                font-size: 9px !important;
            }
        }
    }
    .clr-blanco{
        color: #fff;
    }
    .div1-fondo-mobile{
        background-color: #d166a6 !important;
        width: 65%;
        height: 130px;
        border-radius: 70px;
        margin-top: 30%;
        margin-bottom: 35%;
        @media (max-width: 754px) {
            height: 115px; 
        } 
        @media (max-width: 553px) {
            height: 100px;
            width: 85%; 
        }  
        @media (max-width: 445px) {        
            width: 93%;
        } 
        @media (max-width: 309px) {
            height: 84px;
            width: 90%;
        }    
    }
    .div1-mobile{    
        margin-top: -140px;
        margin-right: -6px;
        z-index: 2;    
        background-color: #fff !important;
        width: 22%;
        height: 270px;
        border-radius: 30px;
        box-shadow: 1px 2px 3px #d166a6 !important;
        @media (max-width: 754px) {
            height: 240px; 
        }     
        @media (max-width: 606px) {
            height: 195px;
            border-radius: 30px; 
        }
        @media (max-width: 553px) {
            width: 27%;
            height: 195px;
            border-radius: 30px; 
        }
        @media (max-width: 445px) {
            width: 32%;
            height: 195px;
            border-radius: 25px;
        }
        @media (max-width: 391px) {
            width: 33%;
            height: 180px;
            border-radius: 20px;
        }
        @media (max-width: 357px) {
            height: 160px;
        }
        @media (max-width: 327px) {
            width: 36%;
        }    
        p{
         font-size: 13px !important; 
         padding-top: 5px;
         padding-left: 29px;
         padding-right: 15px;
         padding-bottom: 10px;  
         @media (max-width: 600px) {
            padding-left: 18px;  
        } 
        @media (max-width: 357px) {
            padding-top: 0px !important;  
        } 
        @media (max-width: 327px) {
            font-size: 11px !important;   
        }
        }      
    }
    .div2-mobile{    
        z-index: 1;  
        background-color: #6968AC !important;
        width: 22%;
        height: 270px;
        border-radius: 30px;
        box-shadow: 1px 2px 3px #d166a6 !important;
        @media (max-width: 754px) {
            height: 240px; 
        }
        @media (max-width: 606px) {
            height: 195px;
            border-radius: 30px; 
        }  
        @media (max-width: 553px) {
            width: 27%;
            height: 195px;
            border-radius: 30px; 
        }
        @media (max-width: 445px) {
            width: 32%;
            height: 195px;
            border-radius: 25px;
        }
        @media (max-width: 391px) {
            width: 33%;
            height: 180px;
            border-radius: 20px;
        }
        @media (max-width: 357px) {
            height: 160px;
        }
        @media (max-width: 327px) {
            width: 36%;
        }
        p{
            color: #fff !important;
            font-size: 13px !important; 
            padding-top: 5px;
            padding-left: 29px;
            padding-right: 15px;
            padding-bottom: 10; 
            @media (max-width: 600px) {
                padding-left: 18px;  
            }  
            @media (max-width: 357px) {
                padding-top: 0px !important;  
            }
            @media (max-width: 327px) {
                font-size: 11px !important;   
            }
           }    
    }
    .div3-mobile{  
        margin-top: -130px;
        margin-right: -6px; 
        z-index: 2;  
        background-color: #fff !important;
        width: 22%;
        height: 270px;
        border-radius: 30px; 
        box-shadow: 1px 2px 3px #d166a6 !important; 
        @media (max-width: 754px) {
            height: 240px; 
        } 
        @media (max-width: 606px) {
            height: 195px;
            border-radius: 30px; 
        }
        @media (max-width: 553px) {
            width: 27%;
            height: 195px;
            border-radius: 30px; 
        }
        @media (max-width: 445px) {
            width: 32%;
            height: 195px;
            border-radius: 25px;
        }
        @media (max-width: 391px) {
            width: 33%;
            height: 180px;
            border-radius: 20px;
        }
        @media (max-width: 357px) {
            height: 160px;
        }
        @media (max-width: 327px) {
            width: 36%;
        }
        p{
            font-size: 13px !important; 
            padding-top: 5px;
            padding-left: 29px;
            padding-right: 15px;
            padding-bottom: 10; 
            @media (max-width: 600px) {
                padding-left: 18px;  
            }  
            @media (max-width: 357px) {
                padding-top: 0px !important;  
            }
            @media (max-width: 327px) {
                font-size: 11px !important;   
            }
           }    
    }
    .div4-mobile{  
        margin-top: 10px;  
        z-index: 1;  
        background-color: #6968AC !important;
        width: 22%;
        height: 270px;
        border-radius: 30px; 
        box-shadow: 1px 2px 3px #d166a6 !important;   
        @media (max-width: 754px) {
            height: 240px; 
        } 
        @media (max-width: 606px) {
            height: 195px;
            border-radius: 30px; 
        }
        @media (max-width: 553px) {
            width: 27%;
            height: 195px;
            border-radius: 30px; 
        }
        @media (max-width: 445px) {
            width: 32%;
            height: 195px;
            border-radius: 25px;
        }
        @media (max-width: 391px) {
            width: 33%;
            height: 180px;
            border-radius: 20px;
        }
        @media (max-width: 357px) {
            height: 160px;
        }
        @media (max-width: 327px) {
            width: 36%;
        }
        p{
            color: #fff !important;
            font-size: 13px !important; 
            padding-top: 5px;
            padding-left: 29px;
            padding-right: 15px;
            padding-bottom: 10; 
            @media (max-width: 600px) {
                padding-left: 18px;  
            }  
            @media (max-width: 357px) {
                padding-top: 0px !important;  
            }
            @media (max-width: 327px) {
                font-size: 11px !important;   
            }
           }  
    }
    .ajuste-top{
    margin-top: -67% !important;
    @media (max-width: 890px) {
        margin-top: -69% !important; 
    }
    @media (max-width: 833px) {
        margin-top: -72% !important; 
    }
    @media (max-width: 754px) {
        margin-top: -70% !important; 
    }
    @media (max-width: 702px) {
        margin-top: -73% !important; 
    }
    @media (max-width: 658px) {
        margin-top: -76% !important; 
    }
    @media (max-width: 606px) {
        margin-top: -71% !important; 
    }
    @media (max-width: 553px) {
        margin-top: -73% !important; 
    }
    @media (max-width: 515px) {
        margin-top: -76% !important; 
    }
    @media (max-width: 479px) {
        margin-top: -79% !important; 
    }
    @media (max-width: 445px) {
        margin-top: -82% !important; 
    }
    @media (max-width: 413px) {
        margin-top: -85% !important; 
    }
    @media (max-width: 391px) {
        margin-top: -85% !important; 
    }
    @media (max-width: 357px) {
        margin-top: -84% !important; 
    }
    @media (max-width: 327px) {
        margin-top: -87% !important; 
    }
    @media (max-width: 309px) {
        margin-top: -87% !important; 
    }
    @media (max-width: 305px) {
        margin-top: -89% !important; 
    }
    @media (max-width: 291px) {
        margin-top: -92% !important; 
    }
    }
    .reducirImg{
        width: 40%;
        height: 65%;   
        margin-top: -34%;
        margin-right: -25%; 
        @media (max-width: 810px) {    
            margin-right: 20%;  
         
        }
        @media (max-width: 650px) {
            margin-top: -10%;
            margin-right: 20%; 
        }
        @media (max-width: 606px) {
            margin-top: -31%;
            margin-right: 35%; 
            width: 30%;
            height: 55%;
        }
        @media (max-width: 599px) {
            margin-top: -20%; 
            margin-right: 40%;       
        }
        @media (max-width: 445px) {
            margin-top: -12%;               
        }
        @media (max-width: 357px) {
            margin-top: 2%;               
        }
        
    }
    .reducirImgDesktop{
        width: 50%;
        height: 65%;   
        margin-top: -5%;
        margin-left: 75%; 
        @media (max-width: 1280px) {
            margin-left: 50%; 
            } 
    }
    .moverSeccion2{
        margin-top: 12%;
        @media (min-width: 1556px) {
            margin-top: 15%;
        }
        @media (min-width: 1800px) {
            margin-top: 16%;
        }
        @media (min-width: 2000px) {        
            margin-top: 15%;
        } 
        @media (min-width: 2320px) {        
            margin-top: 16%;
          }
    }
    .moverSeccion1{
        @media (min-width: 1556px) {
            margin-top: 10%;
        }
       
        @media (min-width: 2000px) {
            margin-top: 5%;
        }
        
    }
    .imgMaquinaEscribir{
        width: 130%;
    }
    .imgMaquinaEscribir1{
        margin-left: 10px;
        width: 60%;
        @media (max-width: 650px) {
            width: 80%;
        }
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    .bordesRosa{
        border: solid #d166a6 1px;       
    }
    .imagensection4{
        width: 84px;
        @media (max-width: 734px) {
            width: 76px; 
        } 
        @media (max-width: 500px) {
            width: 50px;     
            margin-top: 6px;    
        }  
    }
    .foto1{
        z-index: 1;
        width: 145px;
        margin-left: -68px;
        margin-bottom: -14px;
        @media (max-width: 734px) {
            width: 125px; 
        } 
        @media (max-width: 500px) {
            width: 85px; 
            margin-left: -45px;
        }
    }
    .imagen2section4{
        width: 84px;  
        margin-top: 6px;
        @media (max-width: 734px) {
            width: 76px; 
            margin-top: 17px;
        }
        @media (max-width: 500px) {
            width: 50px; 
            margin-top: 13px;
        }   
    }
    .foto2{
        z-index: 1;
        width: 145px;
        margin-right: -76px;
        margin-bottom: -14px;
        @media (max-width: 734px) {
            width: 125px; 
        } 
        @media (max-width: 500px) {
            width: 85px;
            margin-right: -52px; 
        }
    }
    .imgIn{
        width: 50%;
        margin-top: -20px;
    }
    .imgInmobile{
        width: 40%;
        margin-top: -20px;
    }
    .modifyTamañoH10{  
        @media (max-width: 500px) {     
        .h10{
           font-size: 12px !important;
            }
        }
    }
    .modifyTamañoH11{  
        @media (max-width: 500px) {     
        .h11{
           font-size: 10px !important;
            }
        }
    }
       
    .container_dudas {
        .v-input__slot{
            border: #d166a6 solid 1px;            
            box-shadow: none !important; 
            width: 100%; 
            font-size: 12px;
            @media(max-width: 460px){
              --br: 20px; 
              font-size: 9px !important;                          
            }                                      
          }  
          
          .v-textarea{
            --br: 10px !important;
          }
    }
    
  
}
