// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // header // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#header {
  font-size: 16px;
  @include media(min, 2500px) {font-size: 19px !important}
  @include media(max, 1000px) {font-size: 14px !important}
  #headerApp {
    transition: 0.4s ease-in-out;
    animation: movedown .5s $ease-return;
    @include media(min, small) {margin-inline: 3em}
    .v-toolbar__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 2em;
      // overflow: hidden;
      // .sidebar {
      //   @include absolute(32px,27px);
      //   .focus {
      //     @include absolute(0,var(--distanceInitial),0);
      //     transform: translateY(calc(var(--distance)));
      //     width: 48px;
      //     height: 48px;
      //     border-radius: 50%;
      //     background-color: $primary;
      //     transition: transform .6s $ease-return;
      //     z-index: -1;
      //   }        
      //   &.active {
      //     transition: background-color .5s $ease-return;
      //     transform: translate(-14px, -16px);
      //     width: 76px;
      //     height: 678px;
      //     background: #000000;
      //     box-shadow: 7px 4px 6px rgba(0, 0, 0, 0.25);
      //     border-radius: 40px;
      //     padding: 16px;
      //     @include animation(.5s $ease-return) {
      //       from {height: 48px}
      //       to {height: 678px}
      //     }
      //   }
      // }
      #nav{          
        position: relative;     
        background-color: transparent;
        border-radius: 100px !important;
        box-shadow: 1px 1px 3px #e7add0 !important;
        display: flex;           
        gap:2em; 
        padding-inline: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 500;                                       
        &>div{    
          a:hover{                    
            color: #d166a6;                       
         }    
          .v-icon{
          color: #d166a6 !important;            
        }         
        }
      }
      #seccionRight{                
        .v-btn img{
          font-size: 10px !important; 
      } 
         
      .botonTema img{
        font-size: 20px;
      }
      
      .botones{  
        background-color: #d166a6;
        border-radius: 30px; 
        box-shadow: 0px 4px 5px rgba(243, 4, 24, 0.2);    
        font-weight: 700 !important;         
        padding-block: 17px;
        padding-inline: 9px;
      }
    }
    

    }       
  }
  


// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // menu header // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
  #menuHeader {
    .v-navigation-drawer {
      width: 300px !important;
      @include media(max,x-small) {width: 100vw !important}
    }
    .v-navigation-drawer__content {
      .icon {
        --br: 50%;
        --max-w: 28px;
        aspect-ratio: 1 / 1;
        &.active {--bg: var(--primary) !important}
      }
      & .container-content {
        height: calc(100% - (84px));
        & > :is(.v-expansion-panels, .v-list .v-list-item) {
          span, img {
            font-weight: 400;
            color: #FFFFFF;
          }
        }
      }
      .container-header {
        padding: 1em;
        padding-top: 2em;
      }
      .container-footer {margin-bottom: 2em}
      .v-expansion-panels > .v-list {
        padding: 0;
        .v-list-item {margin-top: 2em}
      }
    }
    .conttitle {
      max-width: 60%;
      margin-inline: auto;
      padding: 0 !important;
    }
    .v-expansion-panel {
      background-color: transparent;
      &::after, &::before {display: none !important}
      .v-expansion-panel-header {
        padding: 0 clamp(1em, 1vw, 1.5em);
      }
      .v-expansion-panel-content__wrap {padding-inline: 0}
      .v-list {
        background-color: transparent;
        .v-list-item {
          background-color: transparent;
          padding-inline: clamp(1em, 1vw, 1.5em);
        }
      }
    }
  }
}

#menu {
  --width: 20px;
  background-color: #000000;
  margin-left: calc(var(--width) * 2);
  position: relative;
  // triangule
  &::before {
    content: "";
    @include absolute(calc(var(--width) * -1));
    border-block: var(--width) solid transparent;
    border-right: calc(var(--width) * 2) solid #000000;
  }
  & .v-list {
    &-item {
      &__title {
        color: #FFFFFF;
      }
    }
  }
}
